---
---
/*
 * assets/main.scss
 * the dashed lines above are required
 */

 .site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    background-color: #424242;
    position: relative;
    position: fixed;
    top: 0px;
}

.page-content {
    background-color: #f7f7f7;
}

.site-nav .page-link {
    color: #fff !important;
    line-height: 1.5;
}

.site-title {
    color: #fff !important;
}

.site-title, .site-title:visited {
    color: #fff !important;
}

@media screen and (max-width: 600px) { 
    .site-nav .page-link { color: #3f3f3f !important; line-height: 1.5; }
    .site-nav .page-link { display: block; padding: 30px 40px !important; margin-left: 30px !important; }
    .site-nav .page-link:not(:last-child) { margin-right: 0; } 
}

@import "{{ site.theme }}";